.test {
  margin: 0 auto;
  margin-top: 90px;
  width: 1100px;
  border: 1px solid black;
  border-radius: 20px;
  height: 600px;
  .test_ter {
    display: flex;
    padding: 50px;
  }
  button {
    background-color: #ff5b6a;
  }
  button:hover {
    background-color: #da303eef;
  }
  .click {
    cursor: pointer;
  }
}
.test2 {
  margin-bottom: 0px;
}
.onclicktohome {
  cursor: pointer;
}
.css-binzgt {
  position: relative;
  bottom: 40px;
}
