.Promtion {
  img {
    width: 100%;
    margin: 0 auto;
  }
  width: 80%;
  margin: 0 auto;
  h2 {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    color: #ff5b6a;
    font-weight: 700;
  }
  h3 {
    margin-top: 20px;
    font-size: 25px;
    font-style: italic;
  }
  p {
    margin-top: 20px;
    font-size: 18px;
  }
  li {
    font-size: 20px;
    font-weight: 600;
  }
  .byn_promtion {
    background-color: #ff5b6a;
    border: none;
    outline: none;
    padding: 9px 0;
    color: #fff;
    width: 250px;
    font-size: 20px;
    margin-top: 50px;
  }
  .btn_protionss {
    width: 250px;
    margin: 0 auto;
  }
  hr {
    margin-top: 80px;
    margin-bottom: -80px;
    color: #ff0000;
  }
}
